*{
    padding: 10;
    margin: 0%;
}
header{ 
    background-color:black;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 101vh;
    width: 100%;
    margin-top: -7px;
    z-index: 1px;
}
header img{
    float: left;
    /* width: 50%; */
    height:98vh;
    margin-left:-120px;
    margin-top: 10px;
    background-color: black;
}
.wraper{
    background-color: red;
    padding:10px;
    width: 100%;
    position: fixed;
}
.text{
    padding-top: 8px;   
}
nav{
    float: right;
    padding-right: 50px; 
}
nav a{
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
}
.about{
    background-color: #e1f4f3;
}
P, h2, h4{
    font-size: 20px;
    padding: 10px;
}
.wrap{
    width:1200px;
    display: flex;
    flex-direction: row;
    padding-top: 30px
}
.card{
    text-align: center;
    margin-top: -30px;
}
.card h2{
    text-transform: uppercase;
}
