*{
    padding: 10;
    margin: 0%;
}
header{ 
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 101vh;
    width: 100%;
    margin-top: -7px;
}
header img{
    float: left;
    height:98vh;
    margin-left:-120px;
    margin-top: 10px;
}
.name{
    color:rgb(58, 50, 50);
    padding-top: 200px;
    text-align: center;
}
.name h2{
    font-size: 150px;
    text-transform: uppercase;
}
.name:hover{
    color: black;
    text-shadow: 2px 2px greenyellow;   
}
.wraper{
    background-color:rgb(46, 44, 44);
    padding:30px;
    width: 100%;
    position: fixed;
}
.text{
    padding-top: 8px;   
}
nav{
    float: right;
    padding-right: 50px; 
}
nav a{
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    color: white;

}
.about{
    background-color: #e1f4f3;
}
P, h2, h4{
    font-size: 20px;
    padding: 10px;
}
.wrap{
    width:1200px;
    display: flex;
    flex-direction: row;
    padding-top: 30px
}
.card{
    text-align: center;
    margin-top: -30px;
}
.card h2{
    text-transform: uppercase;
    text-decoration: underline;

}
span ol li{
    padding-bottom: 10px;
    font-size: 18px;
}
.footer{
   background-color: #706c61;
   height: 70px;
   width: 100%;
}
.footer p{
    font-size: 15px;
}
.down p{
    text-align: center;
    font-size: 15px;
    padding-top:0px;
}